<section class="sect-for-min section">
    <img class="img-disc container" src="./img/discipline/Rect-mob.png" alt="">
    <div class="div-for-discipline container">

    <h3 class="discipline-time">110 min</h3>
    <p class="discipline-for-daily">Daily  norm of sports</p>
    <p class="recomendecation-for-discipline">The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? </p>
</div>

</section>