<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercises</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="section">
      <!-- Exercises page 1 -->
      <div class="container exercises-container">
        <div class="exercises-top-container">
          <h2 class="exercises-title">Exercises</h2>
          <div class="exercises-top-buttons">
            <button class="exercises-filter-button" type="submit">
              Muscles
            </button>
            <button class="exercises-filter-button" type="submit">
              Body parts
            </button>
            <button class="exercises-filter-button" type="submit">
              Equipment
            </button>
          </div>
        </div>
        <ul class="exercises-list">
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
          <li>
            <div class="exercises-item">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li>
        </ul>
        <div class="exercises-bottom-buttons">
          <button class="exercises-page-button" type="submit">1</button>
          <button class="exercises-page-button" type="submit">2</button>
        </div>
      </div>
      <!-- Exercises page 2
      <div class="container exercises-container">
        <div class="exercises-top-container">
          <h2 class="exercises-title">
            Exercises / <span class="exercises-subtitle">Waist</span>
          </h2>
          <div class="exercises-top-buttons">
            <button class="exercises-filter-button" type="submit">
              Muscles
            </button>
            <button class="exercises-filter-button" type="submit">
              Body parts
            </button>
            <button class="exercises-filter-button" type="submit">
              Equipment
            </button>
          </div>
          <div class="exercises-input-wrapper">
            <input
              class="exercises-search-input"
              type="text"
              placeholder="Search"
            />
            <svg
              class="exercises-search-icon"
              width="18"
              height="18"
              aria-label=""
            >
              <use href="./img/exercises-sprite.svg#icon-search"></use>
            </svg>
          </div>
        </div>
        <ul class="exercises-list-page2">
          <li class="exercises-item-page2">
            <div class="exercises-card"></div>
          </li>
        </ul>
        <div class="exercises-bottom-buttons">
          <button class="exercises-page-button" type="submit">1</button>
          <button class="exercises-page-button" type="submit">2</button>
        </div>
      </div> -->
    </section>
  </body>
</html>
