<section class="section">
  <div class="container exercises-container">
    <div class="exercises-top-container">
      <h2 class="exercises-title">Exercises</h2>
      <div class="exercises-filter-container">
        <div class="exercises-top-buttons">
          <button class="exercises-filter-button" type="submit">Muscles</button>
          <button class="exercises-filter-button" type="submit">
            Body parts
          </button>
          <button class="exercises-filter-button" type="submit">
            Equipment
          </button>
        </div>
        <div class="exercises-input-wrapper" id="exercises-search-form">
          <input
            class="exercises-search-input"
            type="text"
            placeholder="Search"
          />
          <svg
            class="exercises-inputclear-icon exercises-is-hidden"
            width="18"
            height="18"
            aria-label="clear-icon"
          >
            <use href="./img/exercises/exercises-sprite.svg#icon-x"></use>
          </svg>
          <svg
            class="exercises-search-icon"
            width="18"
            height="18"
            aria-label="search-icon"
          >
            <use href="./img/exercises/exercises-sprite.svg#icon-search"></use>
          </svg>
        </div>
        <!-- <div class="exercises-top-buttons">
            <button class="exercises-filter-button" data-name="Muscles" type="submit">
              Muscles
            </button>
            <button class="exercises-filter-button" data-name="Body parts" type="submit">
              Body parts
            </button>
            <button class="exercises-filter-button" data-name="Equipment" type="submit">
              Equipment
            </button>
            <form id="exercises-search-form">
                <input
                  class="exercises-search-input"
                  type="text"
                  placeholder="Search"
                />
                <svg
                  class="exercises-inputclear-icon exercises-is-hidden"
                  width="18"
                  height="18"
                  aria-label="clear-icon"
                >
                  <use href="./img/exercises/exercises-sprite.svg#icon-x"></use>
                </svg>
                <svg
                  class="exercises-search-icon"
                  width="18"
                  height="18"
                  aria-label="search-icon"
                >
                  <use
                    href="./img/exercises/exercises-sprite.svg#icon-search"
                  ></use>
                </svg>
              </form>
          </div> -->
      </div>
    </div>
    <ul class="exercises-list">
      <!--          
         <li>
            <div class="exercises-item" style="background: linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.7) 0%,
      rgba(16, 16, 16, 0.7) 100%
    ),
    url(/img/exercises/16kg.jpeg),
    lightgray -16.825px -9.156px / 128.765% 116.922% no-repeat; background-size: cover;">
              <p class="exercises-item-name">Abductors</p>
              <p class="exercises-item-subname">Muscles</p>
            </div>
          </li> -->
    </ul>

    <div class="exercises-bottom-buttons">
      <!-- <button class="exercises-page-button" type="button">1</button>
          <button class="exercises-page-button" type="button">2</button> -->
    </div>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>

<!-- <ul class="">
          <li class="exercises-item-page2">
            <div class="exercises-card">
              <div class="exercises-card-top">
                <div class="exercises-kind-wrapper">
                  <p class="exercises-card-kind">WORKOUT</p>
                  <div class="exercises-card-rating">
                    <p class="exercises-rating-value">4.0</p>
                    <svg
                      class="exercises-star-icon"
                      width="18"
                      height="18"
                      aria-label="star icon"
                    >
                      <use
                        href="./img/exercises/exercises-sprite.svg#icon-star"
                      ></use>
                    </svg>
                  </div>
                </div>
                <button class="exercises-start-button">
                  Start
                  <svg class="exercises-start-icon" width="14" height="14">
                    <use
                      href="./img/exercises/exercises-sprite.svg#icon-arrow"
                    ></use>
                  </svg>
                </button>
              </div>
              <div class="exercises-card-namewrapper">
                <svg
                  class="exercises-star-icon"
                  width="24"
                  height="24"
                  aria-label="star icon"
                >
                  <use
                    href="./img/exercises/exercises-sprite.svg#icon-icon"
                  ></use>
                </svg>
                <p class="exercises-card-exname">Air bike</p>
              </div>
              <ul class="exercises-card-info">
                <li class="exercises-info-data">
                  <span class="exercises-data-name">Burned calories: </span>312
                  / 3 min
                </li>
                <li class="exercises-info-data">
                  <span class="exercises-data-name">Body part: </span>Waist
                </li>
                <li class="exercises-info-data">
                  <span class="exercises-data-name">Target: </span>Abs
                </li>
              </ul>
            </div>
          </li> 
        </ul> -->
<!-- Exercises page 2 -->
<!-- <div class="container exercises-container">
        <div class="exercises-top-container">
          <h2 class="exercises-title">
            Exercises / <span class="exercises-subtitle">Waist</span>
          </h2>
          <div class="exercises-filter-container">
            <div class="exercises-top-buttons">
              <button class="exercises-filter-button" type="submit">
                Muscles
              </button>
              <button class="exercises-filter-button" type="submit">
                Body parts
              </button>
              <button class="exercises-filter-button" type="submit">
                Equipment
              </button>
            </div>
            <div class="exercises-input-wrapper">
              <form id="exercises-search-form">
                <input
                  class="exercises-search-input"
                  type="text"
                  placeholder="Search"
                />
                <svg
                  class="exercises-inputclear-icon exercises-is-hidden"
                  width="18"
                  height="18"
                  aria-label="clear-icon"
                >
                  <use href="./img/exercises/exercises-sprite.svg#icon-x"></use>
                </svg>
                <svg
                  class="exercises-search-icon"
                  width="18"
                  height="18"
                  aria-label="search-icon"
                >
                  <use
                    href="./img/exercises/exercises-sprite.svg#icon-search"
                  ></use>
                </svg>
              </form>
            </div>
          </div>
        </div> -->
