
    <section class="section">
        <div class="container favorites_sec">
            <h2 class="favorites-title">Favorites</h2>
            <ul class="exercises-list ">
                <div id="pagination2" class="tui-pagination">
                </div>
            </ul>
            <div class="list-pages">
                <button class="first-page page" data-id="1">1</button>
                <button class="second-page page" data-id="2">2</button>
                <button class="third-page page" data-id="3">3</button>
                    </div>
            <div class="empty-favorite">
                <img class="dumbbell-img" src="./img/fav_list/dumbbell.png" alt="Dumbbell">
                <p>It appears that you haven't added any exercises to your favorites yet. To get started, you can add
                    exercises that you
                    like to your favorites for easier access in the future.</p>
            </div>
        </div>
    </section>
    
