
    <section class="section">
        <div class="container">
            <h2 class="favorites-title">Favorites</h2>
            <ul class="favorite-list">
            </ul>
            
            <div class="list-pages">
                <button class="first-page page" data-id="1"><svg class="svg-page" width="14" height="14">
                        <use class="page-favorite" href="../img/fav_list/symbol-defs.svg#icon-1"></use>
                    </svg></button>
                <button class="second-page page" data-id="2"><svg class="svg-page" width="14" height="14">
                        <use class="page-favorite" href="../img/fav_list/symbol-defs.svg#icon-2"></use>
                    </svg></button>
                <button class="third-page page" data-id="3"><svg class="svg-page" width="14" height="14">
                        <use class="page-favorite" href="../img/fav_list/symbol-defs.svg#icon-3"></use>
                    </svg></button>
                    </div>
            <div class="empty-favorite">
                <img class="dumbbell-img" src="../img/fav_list/dumbbell.png" alt="dumbbell">
                <p>It appears that you haven't added any exercises to your favorites yet. To get started, you can add
                    exercises that you
                    like to your favorites for easier access in the future.</p>
            </div>
        </div>
    </section>


    <script src="../js/fav_list.js"></script>
    
