<!-- <section class="container quote-section">
  <div class="quote-of-the-day">
    <div class="top-container">
      <span class="icon-before"></span>
      <p>Quote of the day</p>
      <span class="icon-after"></span>
    </div>
  </div>
  <div class="font-image"></div>
</section> -->


    <section class="quote-section">
      <div class="quote-container block">

      </div>
      <div class="sport-container">
        <div class="quote-img block"></div>
        <div class="schedule block">
          <h2>110 min</h2>
          <p>Daily norm of sports</p>
        </div>
      </div>
    </section>