
<footer>
    <section class="section">
        <div class="container">
            <div class="footer--inside">
                <div class="footer--flex">
                    <div class="footer--social">
                        <a href="../index.html"><img class="footer--social logo" srcset="
                            img/footer/logo--mobile.png 320w,
                            img/footer/logo--mobile.png 480w,
                            img/footer/logo--tablet.png 768w,
                            img/footer/logo--tablet.png 1024w,
                            img/footer/logo--tablet.png 1280w" alt="logo"></a>
                        <ul class="footer--social list">
                            <li class="footer--social item"><a href="https://www.facebook.com/goITclub/">
                                <svg>
                                    <use href="../img/icon/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a></li>
                            <li class="footer--social item"><a href="https://www.instagram.com/goitclub/">
                                <svg>
                                    <use href="../img/icon/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a></li>
                            <li class="footer--social item"><a href="https://www.youtube.com/c/GoIT">
                                <svg>
                                    <use href="../img/icon/symbol-defs.svg#icon-youtube"></use>
                                </svg>
                            </a></li>
                        </ul>
                    </div>
                        <div class="footer--right-side">
                            <div class="footer--text">
                                <h3>Transforming your <span>body</span> shape with us</h3>
                            </div>
                            <form class="footer--form" action="your-backend-endpoint" method="post">
                                <p>Subscribe and learn about new exercises!</p>
                                <input id="email" type="email" placeholder="Email" required pattern="^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$">
                                <label for="email"></label>
                                <button class="form--button" type="submit">Send</button>
                            </form>
                        </div>
                </div>

                    <div class="footer--signature">
                        <ul>
                            <li class="footer--signature top">Energy Flow. All rights reserved.</li>
                            <li class="footer--signature bottom" >Privacy Policy / Terms of Service</li>
                        </ul>
                    </div>
            </div>
            
        </div>
    </section>
</footer>
