
    <footer>
        
        <div class="footer--social">
            <a href="../index.html"><img class="footer--social logo" src="../img/logo-mobile.png" alt="logo"></a>
            <ul class="footer--social list">
                <li class="footer--social item"><a href="https://www.facebook.com/goITclub/">
                    
                </a></li>
                <li class="footer--social item"><a href="https://www.instagram.com/goitclub/">I

                </a></li>
                <li class="footer--social item"><a href="https://www.youtube.com/c/GoIT">Y

                </a></li>
            </ul>
        </div>
        <div class="footer--text">
            <h3>Transforming your <span>body</span> shape with us</h3>
        </div>
        <form class="footer--form" action="your-backend-endpoint" method="post">
            <p>Subscribe and learn about new exercises!</p>
            <input id="email" type="email" placeholder="Email" required pattern="^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$">
            <label for="email"></label>
            <button class="form--button" type="submit">Send</button>
        </form>
        <div class="footer--signature">
            <ul>
                <li class="footer--signature top">Energy Flow. All rights reserved.</li>
                <li class="footer--signature bottom" >Privacy Policy / Terms of Service</li>
            </ul>
        </div>

    </footer>
