<script src="data.js"></script>
<div class="pop-up-exercise">
  <div class="pop-up-exercise-content">
    <div class="close-btn" id="closeBtn">&#10006;</div>

    <div class="exercise-info">
      <img src="" alt="Exercise GIF" id="modalImage" />
      <div class="exercise-details">
        <h2 id="modalTitle"></h2>
        <p class="name-modal">
          <strong>Name</strong> <span id="modalName"></span>
        </p>
        <p><strong>Rating</strong> <span id="modalRating"></span></p>
        <div class="horizontal-info">
          <div class="exercise-info">
            <div class="info-item">
              <p>Target <span id="modalRating"></span></p>
            </div>
            <div class="info-item">
              <p>Body Part <span id="modalTarget"></span></p>
            </div>
            <div class="info-item">
              <p>Equipment <span id="modalEquipment"></span></p>
            </div>
            <div class="info-item">
              <p>Popularity<span id="modalPopularity"></span></p>
            </div>
          </div>
        </div>
        <p>
          <strong>Burned Calories:</strong>
          <span id="modalBurnedCalories"></span>
        </p>
        <p>Description <span id="modalDescription"></span></p>
      </div>
    </div>
  </div>
</div>

<!-- "_id": "64f389465ae26083f39b17a4",
  "bodyPart": "waist",
  "equipment": "body weight",
  "gifUrl": "https://ftp.goit.study/img/power-pulse/gifs/0003.gif",
  "name": "air bike",
  "target": "abs",
  "description": "This refers to your core muscles, which include the rectus abdominis, obliques, and transverse abdominis. They're essential for maintaining posture, stability, and generating force in many movements. Exercises that target the abs include crunches, leg raises, and planks.",
  "rating": 4.33,
  "burnedCalories": 312,
  "time": 3,
  "popularity": 4 -->

<!-- <div class="pop-up-exercise">
    <button class="modal-button-closed" type="button">
      <svg class="icon-form-closed" width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  <div class="pop-up-exercise-content">
    <h2 id="modalTitle"></h2>
    <div class="pop-up-exercise-details">
      <div class="exercise-info">
    <div class="info-item">
        <p><strong>Body Part:</strong> <span id="modalBodyPart"></span></p>
    </div>
    <div class="info-item">
        <p><strong>Equipment:</strong> <span id="modalEquipment"></span></p>
    </div>
    <div class="info-item">
        <p><strong>Target:</strong> <span id="modalTarget"></span></p>
    </div>
    <div class="info-item">
        <p><strong>Description:</strong> <span id="modalDescription"></span></p>
    </div>
    <div class="info-item">
        <p><strong>Rating:</strong> <span id="modalRating"></span></p>
    </div>
    <div class="info-item">
        <p><strong>Burned Calories:</strong> <span id="modalBurnedCalories"></span></p>
    </div>
    <div class="info-item">
        <p><strong>Time:</strong> <span id="modalTime"></span></p>
    </div>
    <div class="info-item">
        <p><strong>Popularity:</strong> <span id="modalPopularity"></span></p>
    </div>
</div>

      </div>
    </div>
  </div>
</div> -->
