<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>quote</title>
  </head>
  <body>
    <section class="quote-section">
      <div class="quote-container block">

      </div>
      <div class="sport-container">
        <div class="quote-img block"></div>
        <div class="schedule block">
          <h2>110 min</h2>
          <p>Daily norm of sports</p>
        </div>
      </div>
    </section>

    <script type="module" src="../quote.js"></script>
  </body>
</html>
