.discipline__text {
    flex-shrink: 0;
    border-radius: 30px;
    background: #1B1B1B;
   
}

  .discipline_img { 
    background-image: url('../img/discipline/dis_mob_1x.png');
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}
    @media screen and (min-width: 768px) and (max-width: 1439.98px){
        .discipline_img { 
    background-image: url('../img/discipline/dis_tab_1x.png');
    width: 736px;
    }
}
    @media screen and (min-width: 1440px) {
          .discipline_img { 
    background-image: url('../img/discipline/dis_desktop_1x.png');
    width: 704px;
}
    }

    /* ================Media for retina (@x2 images)================ */
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px) {
  .discipline_img {
    background-image: url('../img/discipline/dis_mob_2x.png');
    background-size: contain;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
    .discipline_img {
      background-image: url('../img/discipline/dis_tab_2x.png');
      background-size: contain;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .discipline_img {
      background-image: url('../img/discipline/dis_desktop_2x.png');
      background-size: contain;
    }
}