.discipline__text {
    flex-shrink: 0;
    border-radius: 30px;
    background: #1B1B1B;
   
}

  .discipline_img { 
    background-image: url('../img/discipline/dis_mob_1x.png');
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}
 /* only for retina displays */
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .discipline_img {
        
        background-image: url('../img/discipline/dis_mob_2x.png');
        }

        @media screen and (min-width: 768px) and (max-width: 1439.98px){
            .discipline_img {background-image: url('../img/discipline/dis_tab_1x.png');}
        }
    }


    @media screen and (min-width: 768px) and (max-width: 1439.98px){
        .discipline_img { 
    background-image: url('../img/discipline/dis_tab_1x.png');
    width: 704px;
    }
}
    @media screen and (min-width: 1440px) {
          .discipline_img { 
    background-image: url('../img/discipline/dis_desktop_1x.png');
    width: 704px;
}
    }