

.footer {
   height: auto;
    width: 335px;
    padding: 40px 20px 20px 20px;
    margin-bottom:20px ;
    background-image: url(../img/footer/footer-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-color:rgba(27, 27, 27, 0.7);
    border-radius: 30px;


}
.footer--social.logo {
    margin-bottom: 9px;
}
.footer--social.list {
    
    display: flex;
    margin-bottom: 40px;
}
.footer--social.item {
    margin-right: 12px;
}

.footer--text {
    
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 32px;
    line-height: 2em;
    color:rgba(246, 246, 246, 1) ;
    margin-bottom: 20px;
}
.footer--text span {
    font-style: italic;
    color:rgba(246, 246, 246, 0.3) ;
}

.footer--form p {
    font-weight: 400;
    font-size: 14px;
    line-height: 0.8em;
    color: #F6F6F6;
    margin-bottom: 20px;
}
.footer--form input {
    background: transparent;
    width: 100%;
    height: 42px;
    border: 1px solid #F6F6F6 ;
    border-radius: 30px;
    padding: 12px 246px 12px 14px; 
    margin-bottom: 12px ;
}
.footer--form input::placeholder {
    color: rgba(246, 246, 246, 0.6);  
}
.footer--form button {
    width: 100%;
    height: 42px;
    border-radius: 30px;
    background-color:#7E847F ;
    color: #F6F6F6;
    margin-bottom: 60px;
}
.footer--form button:hover,
.footer--form button:focus {
    background-color:#5F6560 ;
}
.footer--signature {
    font-size: 12px;
    line-height: 0.75em;
    color: #F6F6F6;
}
.footer--signature.top {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
    .footer {
        display: flex;
        flex-direction: column;
        background-image: url(../img/footer/footer-tablet.jpg);
        width: 736px;
    }
    .tablet--desktop-flex {
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (min-width: 1200px) {
.footer {
    background-image: url(../img/footer/footer-desktop.jpg);
    width: 1408px;
    height: 454px;
    display: flex;
    padding: 64px 48px 26px 48px;
}
.footer--social {
    margin-right: 162px;
    
}
.footer--form input {
    margin-bottom: 20px;
}
.footer--form button {
    margin-bottom: 0;
}
}