

/* MOBILE */

.quote-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

   .quote-of-the-day{
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background: #7E847F;
    margin: 0 auto;
   }

   .font-image { 
    background-image: url('../img/quote/mobile-background-image.png');
    background-color: #E8E8E8;
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
   }
   
   .title-container {
    display: flex;
    margin: 0 auto;
    
   }

   .icon-before {
       display: inline-block;
       width: 34px;
       height: 32px;
       background-image: url('../img/quote/icon-before-text.svg');
       background-size: cover;
       margin-top: 42px;
       margin-left: 20px;
   }

   .icon-after { 
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../img/quote/icon-after-text.svg');
    background-size: cover;
    margin-top: 42px;
    margin-left: 61px;
   }

   .title { 
    color: #F6F6F6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 42px;
    margin-left: 12px;
   }

   .quote-container{
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;

   }
   .quote-text {
    width: auto;
    height: auto;
    color: rgba(246, 246, 246, 0.60);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 46px;
    margin-top: 14px;
   }

   .quote-author{
    color: #F6F6F6;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 14px;
    margin-left: 46px;
   }

   @media screen and (min-width: 375px) and (max-width: 767.98px) {
       
   }

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1439.98px) {

.quote-section {
    margin-top: 16px;
    margin-bottom: 16px;
}
    
.quote-of-the-day { 
    width: 736px;
    height: 302px;
    border-radius: 50px;
}

.font-image {
    width: 736px;
    height: 302px;
    border-radius: 50px;
    background-image: url('../img/quote/tablet-background-image.png');
    background-color: #E8E8E8;
}

 .icon-before {
     margin-top: 64px;
     margin-left: 80px;
 }

 .icon-after {
     width: 48px;
     height: 48px;
     margin-top: 32px;
     margin-left: 254px;
 }

 .quote-container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

 .title {
    font-size: 24px;
    line-height: 1.33;
     margin-top: 64px;
     margin-left: 16px;
 }

 .quote-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 98px;
    margin-right: 80px;
    margin-top: 16px;
}

.quote-author {
    margin-top: 25px;
    margin-left: 98px;
}

}

/* Laptop */

@media screen and (min-width: 1440px) {

.quote-section {
    width: 1408px;
    display: flex;
    margin-top: 0px;
    
    }

.quote-of-the-day {
    width: 704px;
    height: 302px
    }

.font-image {
    width: 704px;
    height: 302px;
    background-image: url('../img/quote/laptop-background-image.png');
    background-color: #E8E8E8;
}

.icon-before {
    margin-top: 64px;
    margin-left: 64px;
}
.icon-after {
    margin-top: 32px;
    margin-left: 286px;
}

.quote-text {
    margin-left: 84px;
    margin-right: 32px;
}

.quote-author {
    margin-top: 25px;
    margin-left: 84px;
}

}

